modules = ["python-3.10"]
run = "USE_PARALLEL_EVIDENCE=true uvicorn main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[deployment]
run = ["sh", "-c", "run"]

[[ports]]
localPort = 8000
externalPort = 80
